<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fake.domain.adamlopresto.goshop"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".MainListActivity" />

        <activity
            android:name="fake.domain.adamlopresto.goshop.MainListActivity"
            android:label="@string/title_activity_main_list"
            android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name="fake.domain.adamlopresto.goshop.contentprovider.GoShopContentProvider"
            android:authorities="fake.domain.adamlopresto.goshop.contentprovider"
            android:exported="false" >
        </provider>

        <activity
            android:name="fake.domain.adamlopresto.goshop.ItemDetailActivity"
            android:windowSoftInputMode="stateHidden" 
            android:label="@string/title_activity_item_edit" 
            android:configChanges="keyboardHidden|orientation">
        </activity>
        <activity android:name="fake.domain.adamlopresto.goshop.SettingsActivity" />
        <activity
            android:name="fake.domain.adamlopresto.goshop.ImportActivity"
            android:label="@string/title_activity_import" 
            android:configChanges="keyboardHidden|orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fake.domain.adamlopresto.goshop.MainListActivity" />
        </activity>
        <activity
            android:name="fake.domain.adamlopresto.goshop.StoreAisleSelection"
            android:label="@string/title_activity_store_aisle_selection" 
            android:configChanges="keyboardHidden|orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fake.domain.adamlopresto.goshop.ItemDetailActivity" />
        </activity>
        <activity
            android:name="fake.domain.adamlopresto.goshop.AisleEditActivity"
            android:label="@string/title_activity_aisle_edit"
            android:configChanges="keyboardHidden|orientation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fake.domain.adamlopresto.goshop.StoreAisleSelection" />
        </activity>
    </application>

</manifest>